/1.Gyakorlat/nbproject/private/
/1.Gyakorlat/build/
/SnakeGame/nbproject/private/
/SnakeGame/build/
/SnakeGame/dist/
/Zoo/nbproject/private/
/rpg/nbproject/private/
/rpg/build/
/3.Gyakorlat/BagArrayListIntro/nbproject/private/
/3.Gyakorlat/BagArrayListIntro/build/
/3.Gyakorlat/BagArrayList/build/
/3.Gyakorlat/BagHashMap/build/
/3.Gyakorlat/BagHashMapIntro/build/
/3.Gyakorlat/Sort1/nbproject/private/
/3.Gyakorlat/Sort2/nbproject/private/
/3.Gyakorlat/SortInto/nbproject/private/
/3.Gyakorlat/Sort/nbproject/private/
/4.Gyakorlat/AnimalFarm/build/
/4.Gyakorlat/vehicles/nbproject/private/
/animalfarm2/nbproject/private/
/animalfarm2/build/
/I.Beadando/Capitaly/nbproject/private/
/I.Beadando/Capitaly/build/
/6.Gyakorlat/qwerty/build/
/7.Gyakorlat/Flashcards/nbproject/private/
/7.Gyakorlat/FlashcardsIntro/nbproject/private/
/7.Gyakorlat/FlashcardsIntro/build/
/II.Beadando/Amoba/nbproject/private/
/II.Beadando/Amoba/build/
/6.Gyakorlat/calc/build/
/III.Beadando/Tron/nbproject/private/
/III.Beadando/Tron/build/
/Snake/build/
/Snake/nbproject/private/
/III.Beadando/ourSTD/nbproject/private/
/III.Beadando/ourSTD/build/
